@font-face {
  font-family: 'Impact Label';
  src: url('../assets/fonts/ImpactLabel.ttf');
}
@font-face {
  font-family: 'Impact Label Reversed';
  src: url('../assets/fonts/ImpactLabelReversed.ttf');
}

body {
  background-color: #1E1E20;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  min-height: 100vh;
}

.header {
  align-items: flex-start;
  background-attachment: fixed;
  background-image: url("../assets/images/hero_notext.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 800px;
}

.hero {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.hero__headline {
  font-family: 'Impact Label Reversed';
  font-size: 50px;
  margin-bottom: -15px;
  padding-right: 15px;
  text-align: right;
}
.hero__subtitle {
  color: #1E1E20;
  font-family: 'Impact Label';
  font-size: 20px;
}

.tagline {
  font-family: 'Impact Label';
  font-size: 18px;
  padding: 10px;
}
.tagline--center {
  align-self: center;
  text-align: center;
}

.navbar {
  border-radius: 0px;
  display: flex;
  justify-content: center;
}
.navbar--vertical {
  flex-direction: column;
}
.navbar--fixed-top {
  background-color: #4F230D;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.navbar__item {
  color: antiquewhite;
  font-size: 30px;
  text-decoration: none;
}
.navbar__item--impact {
  color: #1E1E20;
  font-family: 'Impact Label';
  margin: 2px 0;
}
.navbar__item:hover {
  color: #63361B;
  text-decoration: none;
}

.social {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}
.social__link {
  background-color: #1E1E20;
  border-radius: 50px;
  display: inline-block;
  color: whitesmoke;
  font-size: 20px;
  height: 30px;
  margin: 0 5px;
  padding-top: 2px;
  text-align: center;
  width: 30px;
}
.social__link:hover {
  background-color: #63361B;
  color: whitesmoke;
}

.footer {
  background-color: rgb(83, 41, 17, 0.85);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer__contact {
  font-size: 20px;
  text-align: center;
}
.footer__copy {
  font-size: 15px;
  padding-bottom: 5px;
  text-align: center;
}

.feed {
  align-content: center;
  background-color: #998268;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  padding: 30px 5px;
}
.feed:nth-child(even) {
  background-color: #8B6749;
}
.feed__header {
  color: #1E1E20;
  font-family: 'Impact Label';
  font-size: 30px;
  margin-left: -15px;
  padding-bottom: 15px;
}
.feed__hero {
  margin: 0 auto;
  margin-bottom: 20px;
}
.feed__row {
  display: flex;
  flex-grow: 1;
  margin: 0 auto;
  max-width: 60vw;
  justify-content: space-around;
}
.feed__row--wide {
  width: 90vw;
}
.feed__row__item {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 5px;
}
.feed__row__item--center {
  align-items: center;
  justify-content: center;
}
.feed__row__item--flush-left {
  margin-left: 0px;
}
.feed__row__item--flush-right {
  margin-right: 0px;
}

.shows {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.shows__item {
  border-top: 1px solid black;
  color: antiquewhite;
  display: flex;
  height: 70px;
  justify-content: space-around;
  width: 60vw;
}
.shows__item__button {
  border: 1px solid black;
  border-radius: 2px;
  color: black;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  width: 100px;
}
.shows__item__button:hover {
  background-color: #63361B;
  color: whitesmoke;
  text-decoration: none;
}
.shows__item__column {
  align-items: flex-start;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.shows__item__column--end {
  align-items: flex-end;
}

.video {
  height: 100%;
  width: 100%;
}

.instagram {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; 
  border: 5px solid #fff;
  margin: 5px;
  width:  306px;
  height: 306px;
}
.overlay {
  align-items: center;
  background-color: #1E1E20;
  color: whitesmoke;
  display: flex;
  font-size: 30px;
  height: 100%;
  justify-content: center;
  opacity: 0;
  width: 100%;
}
.instagram:hover .overlay {
  cursor: pointer;
  opacity: 0.9;
}

/* Override WP Style */
.menu-main-menu-container {
  width: 0;
}

/* Media Styles */
@media screen and (max-width: 800px) {
  .hero__headline { 
    font-size: 30px;
    text-align: center;
  }
  .social {
    justify-content: center;
    margin: 10px auto;
  }
  .navbar {
    display: none;
  }
  .feed {
    flex-direction: column;
  }
  .feed__row--wide {
    flex-direction: column;
  }
  .feed__row__item:not(:first-child) {
    display: none;
  }
  .shows__item {
    flex-direction: column;
  }
  .shows__item__column--end {
    align-items: flex-start;
  }
}